.container-fluid {
  max-width: 720px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container-fluid {
    max-width: 100%;
    padding: 0 15px;
  }
}

/* .invisible-text {
  color: transparent;
} */
